@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";

body {
  font-family: $body-fontFamily;
  color: $body-color;
}

@media (prefers-color-scheme: dark) {
  body {
    color: $body-color;
  }
}

a {
  &:hover {
    color: #fa586a;
    text-decoration: none;
  }
  &:focus-visible {
    box-shadow: $btn--focus-visible-box-shadow;
    outline: none;
  }
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  // height: calc(100vh - 64px);
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  background-color: $pageBg;
  overflow-x: hidden;
  overflow-y: auto;
}

.svg-white {
  // #fff;
  filter: invert(93%) sepia(79%) saturate(5113%) hue-rotate(184deg) brightness(137%) contrast(100%);
}

.svg-red {
  // #fa586a;
  filter: invert(41%) sepia(33%) saturate(1762%) hue-rotate(313deg) brightness(112%) contrast(96%);
}

.svg-gray {
  // #c6c6c6;
  filter: invert(78%) sepia(25%) saturate(11%) hue-rotate(87deg) brightness(96%) contrast(96%);
}
